:root {
    
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --hero-text-color: #FFFFFF;
    --hero-bg-color:#2F303A;
    --logo__second-part-color: #000000;
    --tel-mail-footer: rgba(255, 255, 255, 0.6);
    --team-bg-color: #F5F4FA;
    --button-hero-bg-color: #188ce8;
    --button-hero-shadow-color: rgba(0, 0, 0, 0.15);
    --second-font: 'Raleway', sans-serif;
}